<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <property name="pattern-color" value="%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %green(%logger{50}) - %highlight(%msg) %n"/>

    <!-- 控制台输出-带颜色 -->
    <appender name="CONSOLE-WITH-COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern-color}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE-WITH-COLOR"/>
    </root>

    <logger name="com.lei.network.loom.panama.Main" level="debug" additivity="false">
        <appender-ref ref="CONSOLE-WITH-COLOR"/>
    </logger>

    <logger name="com.lei.network.loom.panama.buffer" level="debug" additivity="false">
        <appender-ref ref="CONSOLE-WITH-COLOR"/>
    </logger>

</configuration>
